---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 20px/1.4 $opensans;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
  width: 100%;
}

.wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $montserrat;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.5;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 44px;
  a {
    color: inherit;
  }
}

h1.story-title {
  font-size: 44px; /* base fallback */
  line-height: 1.15;
  margin-bottom: 1.5rem;
}

h1.story-title span {
  display: block;
}

h1.story-title .kicker {
  font-size: 0.55em;        /* relative to h1 */
  font-weight: 500;
  color: #555;              /* dark grey, not disabled */
  letter-spacing: 0.02em;
  margin-bottom: 0.25rem;
}

h1.story-title .title {
  font-size: 1em;           /* full h1 size */
  font-weight: 700;
  color: #000;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
  color: $gray;
}

p {
  margin: 20px 0;
}

a {
  color: $blue;
  text-decoration: underline;
	cursor: pointer;
  &:hover, &:active {
    color: $black;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-size: 20px;
  color: $gray;
}

.entry {
  max-width:65ch
}

.category {
  font-size: 16px;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  background-color: $lightGray;
}

.masthead {
  padding: 14px 0;
  border-bottom: 2px solid $lightGray;

}



.site-name {
  margin: 0;
  color: $darkGray;
  font-family: $opensans;
  font-weight: 700;
  font-size:36px;
  a {
    color: inherit;
    text-decoration: none;
  }

  @include mobile {
    float: none;
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  font-family: $opensans;
  font-weight: 600;
  font-size: 22px;
  


nav a:hover {
  border-bottom: 5px solid $darkGray;
}

  a {
    margin-right: 20px;
    color: $darkGray;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
	  
   @include mobile {
    font-size: 18px;
    margin-top: 4px  
     
  }
  
  }
  @include mobile {
    font-size: 18px;
    margin-top: 4px  
     
  }

  a:hover {
    border-bottom: 5px solid $darkGray;
  }
  
}

//
// .main
//



.selector {
  font-family: $opensans;
  font-weight: 600;
  font-size: 22px;
  float: right;
  margin-right: 20px;
    color: $darkGray;
    text-decoration: none;
    text-align: right;
    letter-spacing: 1px;

	@include mobile {
      margin-top: 4px;
    font-size: 18px;
  }
}



.posts {
  max-width:65ch;
}

.posts > .post {
  padding-bottom: 1em;
  max-width:65ch;
  
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 22px;
    font-weight: 700;
  }
}

.wrapper-footer {
  margin-top: 50px;
  background-color: $lightGray;
}


footer {
  padding: 20px 0;
  font-size: 18px}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
