---
layout: default
---
    {% assign pagelang = site.data.snippets[page.lang] %}
<div style="margin-top: 4px">
 {% if page.category == "Notes" %}
<a class="read-more" href="{{ pagelang.notesurl }}"><span class="fa fa-arrow-left"></span> All {{ pagelang.notesname }}</a>
{% endif %}

{% if page.category == "recits" %}
<a class="read-more" href="{{ pagelang.recitssurl }}"><span class="fa fa-arrow-left"></span> All {{ pagelang.recitsname }}</a>
{% endif %}

{% if page.category == "Billets" %}
<a class="read-more" href="{{ pagelang.billetssurl }}"><span class="fa fa-arrow-left"></span> All {{ pagelang.billetsname }}</a>
{% endif %}
  </div>

<article class="post" style="max-width:65ch;">
  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
  {% for post in posts %}
    
      <a class="selector" href="{{ post.url }}" class="{{ post.lang }}" {% if post.lang == page.lang %}style="border-bottom: 5px solid #222"{% endif %}>{{ post.lang }}</a>  
    {% endfor %}
  <h1>{{ page.title }}</h1>
  
  <div class="date">
    {{ page.date | date: "%Y-%m-%d" }} - {{ page.tag }}
   </div>
   
  <div class="entry">

    {{ content }}
  </div>



  {% include disqus.html %}
</article>
