---
layout: default
---
    {% assign pagelang = site.data.snippets[page.lang] %}
<div style="margin-top: 12px;">
 {% if page.category == "Notes" %}
<a class="read-more" href="{{ pagelang.notesurl }}"><span class="fa fa-arrow-left"></span> {{ pagelang.allnotes }}</a>
{% endif %}

{% if page.category == "recits" %}
<a class="read-more" href="{{ pagelang.recitsurl }}"><span class="fa fa-arrow-left"></span> {{ pagelang.allfiction }}</a>
{% endif %}

{% if page.category == "Billets" %}
<a class="read-more" href="{{ pagelang.billetsurl }}"><span class="fa fa-arrow-left"></span> {{ pagelang.allblog }}</a>
{% endif %}
  </div>

<article class="post" style="max-width:65ch;">
  
  <h1>{{ page.title }}</h1>
  
  <div class="date">
    {{ page.date | date: "%Y-%m-%d" }} - {{ page.tag }}
   </div>
   
  <div class="entry">

    {{ content }}
  </div>



  {% include disqus.html %}
</article>
